<section class="content-header shadow-title">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 title-color">Todos los proyectos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href=""><i class="nav-icon fas fa-home"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item active">Todos los Proyectos</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<br>
<section class="content">
    <div class="container-fluid">
        <br>
        <div style="padding-bottom: 1rem;">
            <table id="tblTodosProy" class="table table-borderless responsive nowrap" style="width: 100%">
                <thead>
                    <tr>
                        <th>#Folio</th>
                        <th>Cliente</th>
                        <th>Estatus</th>
                        <th>Nombre proy</th>
                        <th>Fecha Orden</th>
                        <th>Fecha Salida</th>
                        <th>Fecha Llegada</th>
                        <th>Asesor</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>