<section class="content-header shadow-title">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0  title-color">Agencias aduanales</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href=""><i class="nav-icon fas fa-home"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item active">Agencias aduanales</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<br>
<section class="content">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ml-auto text-center" style="margin-top: 1rem;">
            <a type="button" href="" id="btnNuevaAgencia" class="btn btn-sm btn-outline-primary btn-nuevo">
                Nueva Agente <span><i class="fas fa-plus"></i></span>
            </a>
        </div>
        <br>
        <div style="padding-bottom: 1rem;">
            <table id="tblAgenciasAduanales" class="table table-borderless responsive nowrap" style="width: 100%">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Agente</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th class="levelAdmin"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>